<!-- IF LINKMENU_ENABLE -->
<div class="menu-block" style="float: {S_CONTENT_FLOW_END}; width: 19%;">
<!-- IF LINKMENU_ENABLE_FIRST --><div class="menu-row-first responsive-hide"><a class="left menu-link" href="{LINKMENU_TEXT_FIELD_FIRST}">{LINKMENU_NAME_FIELD_FIRST}</a></div><!-- ENDIF -->
<!-- IF LINKMENU_ENABLE_SECOND --><div class="menu-row responsive-hide"><a class="left menu-link" href="{LINKMENU_TEXT_FIELD_SECOND}">{LINKMENU_NAME_FIELD_SECOND}</a></div><!-- ENDIF -->
<!-- IF LINKMENU_ENABLE_THIRD --><div class="menu-row-last responsive-hide"><a class="left menu-link" href="{LINKMENU_TEXT_FIELD_THIRD}">{LINKMENU_NAME_FIELD_THIRD}</a></div><!-- ENDIF -->
</div>
<div style="float: {S_CONTENT_FLOW_BEGIN}; width: 79.5%;"></div>
<!-- ENDIF -->